# CLion files
.idea

# Build files
xTetris
*.exe
*.o
*.d

# Doxygen config file
Doxyfile

# CMake build files
CMakeCache.txt
/build
/CMakeFiles
*.cmake
cmake-build-debug

# Makefile build folders
/obj
/bin

# Test & debug scripts
buildAndRun.sh
valgrind.sh
cacheMiss.sh
